@import '../../styles/mixins.scss';

.grid-card {
	@include grid-card();
	.img {
		width: 100%;
		height: 100%;
		@include flexCenter();
		img {
			max-width: 100%;
		}
	}
	.info {
		@include flexColumn();
		width: 85%;
		align-items: flex-start;
		height: 100%;
		button {
			@include button();
			margin-top: 8px;
		}
		@include cardText();
		.favorited,
		.favorite {
			font-size: 1.5rem;
			position: absolute;
			right: 1rem;
			bottom: 1rem;
		}
	}
}

.list-card {
	@include list-card();
	.img {
		min-width: 30%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			max-width: 100%;
		}
	}
	@include cardText();
	.favorited,
	.favorite {
		font-size: 1.5rem;
		position: absolute;
		right: 1rem;
		top: 1rem;
	}
}

@include phone() {
	.list-card {
		width: 100%;
		left: 0;
		.favorite,
		.favorited {
			top: unset;
			bottom: 1rem;
		}
		@include cardText();
	}
}
