@import '../../styles/mixins.scss';

.grid-card {
	@include grid-card();
	.img {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			max-width: 100%;
		}
	}
	.info {
		display: flex;
		flex-direction: column;
		width: 85%;
		align-items: flex-start;
		height: 100%;
		button {
			@include button();
			margin-top: 8px;
		}
		.title {
			text-align: left;
			font-size: 1.2rem;
		}
		.condition {
			padding-top: 8px;
			padding-bottom: 2rem;
		}
		.price {
			font-weight: bold;
			font-size: 1.4rem;
		}
		.bids {
			font-size: 1.2rem;
			padding-top: 8px;
		}
		.shipping {
			padding-top: 8px;
		}
	}
}

.list-card {
	@include list-card();
}
