@mixin grid-card {
	position: relative;
	width: 100%;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 1rem;
}

@mixin list-card {
	position: relative;
	width: 80%;
	height: auto;
	margin: 0 auto;
	display: flex;
	gap: 2rem;
	padding: 1rem;
	margin-bottom: 1rem;
}

@mixin input {
	border: 1px solid rgb(143, 143, 143);
	width: 100%;
	padding: 1rem;
	font-size: 1.2rem;
	height: 100%;
}

@mixin button {
	border: none;
	background-color: var(--accent);
	height: 40px;
	width: 100px;
	cursor: pointer;
	&:hover {
		background-color: #779edd;
		transition: all 200ms ease-in-out;
	}
}
