@mixin grid-card {
	position: relative;
	width: 100%;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 1rem;
}

@mixin list-card {
	position: relative;
	width: 80%;
	height: auto;
	margin: 0 auto;
	display: flex;
	gap: 2rem;
	padding: 1rem;
	margin-bottom: 1rem;
}

@mixin input {
	width: 100%;
	padding: 1rem;
	font-size: 1.2rem;
	height: 100%;
	border: none;
}

@mixin button {
	border: none;
	background-color: var(--accent);
	height: 40px;
	width: 100px;
	cursor: pointer;
	&:hover {
		background-color: #779edd;
		transition: all 200ms ease-in-out;
	}
}

@mixin cardText() {
	.condition,
	.bids,
	.shipping {
		padding-top: 8px;
	}
	.title {
		text-align: left;
		font-size: 1.2rem;
	}
	.condition {
		padding-bottom: 2rem;
	}
	.price {
		font-weight: bold;
		font-size: 1.4rem;
	}
	.bids {
		font-size: 1.2rem;
	}
}

@mixin flexCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin flexColumn {
	display: flex;
	flex-direction: column;
}

@mixin phone {
	@media only screen and (max-width: 856px) {
		@content;
	}
}
