@import '../styles/mixins.scss';
@import '../styles/variables.scss';

.home {
	padding: var(--padding);
	position: relative;
	.grid-card-container {
		width: 100%;
		display: grid;
		grid-template-columns: var(--grid);
		justify-items: center;
		position: relative;
		top: calc(20vh + 85px);
		gap: 0.25rem;
	}
	.list-card-container {
		position: relative;
		top: calc(20vh + 85px);
		display: flex;
		flex-direction: column;
	}
}
